// Variables
$rosie-gradient: linear-gradient(to right,  #cb60b3 4%,#951cff 32%,#4e4bed 60%,#4e4bed 60%,#4ef48e 99%);



body {
  background: $rosie-gradient;
  font-family: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
